<html>
<head>

</head>

<body>

Message from Cabana Club Website:
<br />
<br />

Email Address:
<br />
<span><%= @sent_email.email %></span>
<br />
<br />

Message:

<br />
<span><%= @sent_email.desc %></span>
<br />
<br />

</body>
</html>