<div class="bordered_wrapper">
  <h3>
    About The Del Prado Cabana Club
  </h3>
  
  <div class="row">
    <div class="span11">
      <h4>Cheese ipsum</h4>
      <p>
        Emmental melted cheese blue castello. Cheese slices danish fontina cut the cheese caerphilly bavarian bergkase stinking bishop cut the cheese cream cheese. Blue castello mozzarella paneer cut the cheese lancashire rubber cheese edam monterey jack. Boursin paneer cottage cheese pepper jack port-salut boursin fondue lancashire. Rubber cheese stilton cottage cheese cauliflower cheese fromage frais cheesecake port-salut bavarian bergkase. Cheddar monterey jack.
      </p>

      <p>
        Monterey jack cottage cheese boursin. Bocconcini say cheese ricotta fromage frais airedale taleggio squirty cheese goat. Swiss who moved my cheese macaroni cheese smelly cheese feta dolcelatte cheesy feet cheese strings. Babybel halloumi red leicester manchego emmental the big cheese cheesy grin bocconcini. Fromage frais mascarpone camembert de normandie cheese and biscuits cheesecake everyone loves cauliflower cheese stinking bishop. Swiss monterey jack cheese slices feta.
      </p>
    </div>
 
  </div>
</div>