
<div class="bordered_wrapper">

  <div class="header_wrapper">
    <div class="main_header">
      Sign Up
    </div>
  </div>


  <%= render 'form' %>

	<div style="text-align:center;">
		<%= link_to "or Sign In", log_in_path() %>
	</div>

</div>

